

#window {

  height: 195px;
  width: 240px;

  margin-top: 200px;
  margin-left: 40%;

  overflow: hidden;
  border: 5px solid red;
  border-radius: 10px;



}

#imgs{

  height:195px;
  width: 728px;
  position: relative;

}
