/* kod för window som säger höjd, margin osv. */
#window {

  height: auto;
  width: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 25%;
  justify-content: center;

}
/* Kod för bilderna där max-höjd och bredd anges.  */
#imgs{

  height:320px;
  width: auto;
  position: relative;

}
/* Säger att 'a' ska gömmas om inte javascript aktiverar det. */
a{

display: none;

}
/* Gör samma som innan och påverkar inte något. */
.imgs a{

display: block;
}

/* Css för "Prev" och "next" - knapparna. lite transition, border och annat gott*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-size: 18px;
  transition: 0.6s;
  border-radius: 0 3px 3px 0;
}

/* Denna bit används för att sätta positionen för knappen "next" */
.next {
  right: 316px;
  position: fixed;
  border-radius: 3px 0 0 3px;
}

/* När användaren hoverar aktiveras denna funktion och gör det lättare för användaren att förstå vad den håller muspekaren på */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* #JSav{

  width: 100%;
  height: 80px;
  background-color: #B96E02;
  position: absolute;

} */
/* Säger höjd och bredd på footer och nav */
nav, footer{

  width: 100%;
  height: 80px;
  background-color: #B96E02;
  /* position: absolute; */
  display: none;


}

/* Säger hur texten ska se ut i nav, footer osv. */
nav, footer, p{
  margin-top: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  color: #FAFAF3;
}

/* .mellanrum{

  width: 100%;
  height: 30px;

} */
